@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    transition: all 0.3s ease-in !important;
}

body{
    background-color: #180b0b;
}

.page_wraper{
    max-width: 1920px;
    margin: 0 auto;
    
}

.wrapper{
    max-width: 1296px;
    margin: 0 auto;
    padding: 20px;
}

header{
    max-width: 1920px;
    width: 100%;
    padding: 0 32px;
    position: absolute;
    top: 0;
}

.header_wraper{
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}


header .navigation{
    display: flex;
    column-gap: 56px;
}

header .navigation .nav_link{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    opacity: .7;
    transition: all 0.3s linear;
}

header .navigation .nav_link:hover{
    opacity: 1;
}

header .btn{
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 10px 30px;
    transition: all 0.3s;
}


header .btn:hover{
    transform: scale(1.01);
    background: linear-gradient(94.26deg, #a26ce0 9.51%, #4835c9 90.23%);
}

.head_block{
    background: url(assets/main-screen__bgc.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 270px 32px 218px 32px;
    
}

.head_block .title{
    max-width: 920px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.head_block .date-block{
    display: flex;
    column-gap: 30px;
    
}

.head_block .date-block .date{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    background-color:  #121212;
    
}

.head_block .date-block .date .date_number{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
}

.head_block .date-block .date .date_description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF; 
    opacity: 0.4; 
}

.under_head_block{
    background-color:#201c1c ;
    padding: 43px 32px;

}

.under_head_inner_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 81px;
}

.bought_course{
    cursor: pointer;
    padding: 10px 30px;
    max-width: 169px;
    max-height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    transition: backgroud 0.3s;

}

.bought_course:hover{
    background: linear-gradient(94.78deg, #a53830 11.19%, #3c093d 93.72%);
}


.under_head_block .contestants{
    min-width: 252px;    
}

.under_head_block .type_of_contestants{
    display: flex;
    justify-content: space-between;
}

.under_head_block .type_of_contestants .done_course_contestnts{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;

}

.under_head_block .type_of_contestants .all_contestnts{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.under_head_block .money_line_block {
    flex-grow: 1;
}

.under_head_block .money_line {
    height: 6px;
    background: #FFFFFF;   
    position: relative; 
}

.under_head_block .money_line .value {
    position: absolute;
    left: 0;
    height: 100%;
    width: 60%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}


.under_head_block .money_block {
    display: flex;
    justify-content: space-between;
}

.under_head_block .money_block .money {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}

.money_line_block, .done_course_contestnts_number, .money {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

/*======================================================COMPUTER_____BLOCK===================*/


.computer {
    max-width: 1300px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    column-gap: 82px;
}

.square{
    flex-shrink: 0;
    width: 568px;
    height: 536px;
    background-color: none;
    border-radius: 0px;
    border-width: 30px;
    border-style: solid;
    border-color: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%); /*не рабоатет*/
    border-color: rgb(190, 31, 190);
   
}

.computer_photo{
    transform: translate(40px, 50px);
}

.computer_text{
    padding-top: 69px;
}

.computer_main_text{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom:45px ;
    
}

.computer_second_text{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

/*======================================================UNDER_____COMPUTER=================*/


.main_info{
    margin: 200px 0 80px 0;    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}


.profession{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

.block_of_proffession{
    max-width: 360px;
}




.photo_of_profession{
    text-align: center;
   
   
}

.type_of_profession{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 60px 0 30px 0 ;
    
}

.description_fot_profession{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
}

/*============================================================SPONSORS==================*/


.sponsors_block{
    padding: 200px 0px 0px 0px;
    
}

.sponsors_block_main{
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0px 0px 88px 0px;

}

.sponsors_block_type_of_sponsors{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
}

.sponsors_up{
    padding: 40px;
    border: solid 2px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}


.sponsors_down{
    padding: 40px;
    border: solid 2px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

.sponsors_up_right{
    padding: 40px;
    border: solid 2px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

.sponsors_down_right{
    padding: 40px;
    border: solid 2px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}


/*====================================================UNDER_COMPUTER_BLOCK=====================*/




.under_computer_block_the_first_block{
    padding: 200px 0px 80px 0px;
    align-items: center;
}

.quick_start_txt{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    padding-left: 28px;
}

.quick_start_description{
    padding-top: 28px;
    max-width: 450px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 160%;    
    color: #FFFFFF;
    opacity: 0.5;   
}

.under_computer_block_the_second_block{
    display: flex;
}



.percent{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
}

.number_of_percent_100{
    padding: 20px 0 35px 0px;
}

.number_of_percent_75{
    padding: 30px 0 45px 0px;
}

.number_of_percent_50{
    padding: 45px 0 60px 0px;
}

.number_of_percent_conclusion{
    padding: 55px 0 70px 0px;
}



.percent_description{
    max-width: 300px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
}

/*========================================================TEACHERS=========================*/


.our_teachers{
    padding: 70px 0px 28px 0px;
}

.teachers{
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}

.our_teacher_block{
    padding-top: 114px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.photo_of_teachers{
    margin: 0px auto;
}

.name{
    padding: 40px 0px 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    
}

.type_of_work{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 30px;
   
}

.about_teacher{
    width: 144px;
    height: 44px;
    border-radius: 40px;
    background-color: #180b0b;
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease-in;
    color: #FFFFFF;
    opacity: 1;
}

.about_teacher:hover{
    opacity: 0.4;
    border: 1px solid #867575;
}





















@media screen and (max-width: 1048px){
    header .navigation, header .btn{
        background: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1047px){
    .computer {
        flex-direction: column-reverse;
        row-gap: 32px;
        column-gap: 32px;
        margin-top: 32px;
    }

    .computer_text{
        padding-top: 0;
        
    }
}
    

